<h6>Ingredient:</h6>

<div class="input-group mb-3" *ngFor="let r of data.recipe.ingredients">
    <input type="text" readonly class="form-control" id="recipeIngredients" value="{{ r.quantity }} - {{ r.measurementMeasurement }} - {{ r.ingredientName }} - {{ r.preparationPreparation }}" />
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button">Remove Ingredient</button>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-2">
        <label for="recipeIngredientQuantityInput">Quantity</label>
        <input type="number" class="form-control" [(ngModel)] ="recipeIngredientQuantityInput" />
    </div>
    <div class="form-group col-md-2">
        <label for="recipeIngredientMeasurementInput">Measurement</label>
        <select [(ngModel)]="recipeIngredientMeasurementInput" class="form-control" placeholder="Choose...">
            <option *ngFor="let m of ingredientMeasurements" [ngValue]="m">{{ m.ingredientMeasurement }}</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="recipeIngredientInput">Ingredient</label>
        <select [(ngModel)]="recipeIngredientInput" class="form-control" placeholder="Choose...">
            <option *ngFor="let i of ingredients" [ngValue]="i">{{ i.ingredientName }}</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="recipeIngredientPreparationInput">Preparation</label>
        <div class="input-group">
            <select [(ngModel)]="recipeIngredientPreparationInput" class="custom-select" placeholder="Choose...">
                <option *ngFor="let p of ingredientPreparations" [ngValue]="p">{{ p.ingredientPreparation }}</option>
            </select>
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="addIngredient(recipeIngredientQuantityInput, recipeIngredientMeasurementInput, recipeIngredientInput, recipeIngredientPreparationInput)">Add Ingredient</button>
            </div>
        </div>
    </div>
</div>