<h6>Method:</h6>

<div class="input-group mb-3" *ngFor="let r of data.recipe.methods">
    <input type="text" readonly class="form-control" id="recipeMethods" value="{{ r.stepNumber }}. {{ r.method }}" />
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="removeMethod(r)">Remove Method</button>
    </div>
</div>

<div class="input-group">
    <textarea class="form-control" [(ngModel)]="recipeMethodInput" rows="3"></textarea>
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="addMethod(recipeMethodInput)">Add Method</button>
    </div>
</div>