<h6>Note:</h6>
<div class="input-group mb-3" *ngFor="let r of data.recipe.notes">
    <input type="text" readonly class="form-control" id="recipeNotes" value="{{ r.note }}" />
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="removeNote(r)">Remove Note</button>
    </div>
</div>

<div class="input-group">
    <textarea class="form-control" required minlength="5" [(ngModel)]="recipeNoteInput" #note="ngModel" rows="3"></textarea>
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button" [disabled]="note.invalid" (click)="addNote(recipeNoteInput); note.reset()">Add Note</button>
    </div>
</div>

<div *ngIf="note.invalid && (note.dirty || note.touched)" class="alert alert-danger">
    <div *ngIf="note.errors.required">
        Note must be at least 5 characters long.
    </div>
    <div *ngIf="note.errors.minlength">
        Note must be at least 5 characters long.
    </div>
</div>