<h1>Recipe Creation</h1>

<div id="recipe-info">
    <div class="card">
        <div class="card-header" id="headingInfo">
            <h5 class="mb-0">
                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo" style="white-space: normal">
                    General Info:
                </button>
            </h5>
        </div>

        <div id="collapseInfo" class="collapse show" aria-labelledby="collapseInfo" data-parent="#recipe-info">
            <div class="card-body">
                <form id="basicInfo">
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label for="recipeImageInput">Recipe Image</label>
                                <input type="file" class="form-control-file" id="recipeImageInput" />
                            </div>
                        </div>
                        <div class="col col-md-8">
                            <div class="form-group">
                                <label for="recipeTitleInput">Recipe Title</label>
                                <input type="text" class="form-control" id="recipeTitleInput" />
                            </div>
                        </div>
                    </div>
                </form>

                <form id="generalInfo">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipePortionInput">Number of portions</label>
                                <input type="number" class="form-control" id="recipePortionInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSkillInput">Skill</label>
                                <select id="recipeSkillInput" class="form-control">
                                    <option selected>Choose...</option>
                                    <option *ngFor="let s of skills">{{ s.skill }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipePrepTimeInput">Prep time</label>
                                <input type="text" class="form-control" id="recipePrepTimeInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCategoryInput">Category</label>
                                <select id="recipeCategoryInput" class="form-control">
                                    <option selected>Choose...</option>
                                    <option *ngFor="let ca of categories">{{ ca.categoryName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCookTimeInput">Cook time</label>
                                <input type="text" class="form-control" id="recipeCookTimeInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCourseInput">Course</label>
                                <select id="recipeCourseInput" class="form-control">
                                    <option selected>Choose...</option>
                                    <option *ngFor="let co of courses">{{ co.courseName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeRatingInput">Rating</label>
                                <input type="number" class="form-control" id="recipeRatingInput" />
                            </div>
                        </div>
                        <div class="col">
                            <recipe-cuisine></recipe-cuisine>
                            <!--<div class="form-group">
                                <label for="recipeCuisineInput">Cuisine</label>
                                <select id="recipeCusineInput" class="form-control" placeholder="Choose...">
                                    <option selected>Choose...</option>
                                    <option *ngFor="let cu of cuisines">{{ cu.cuisineName }}</option>
                                </select>
                                <button type="button" class="btn btn-secondary" (click)="addCuisine(cu)">Add Cuisine</button>
                                <button type="button" class="btn btn-secondary">Remove Cuisine</button>
                            </div>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeTagInput">Tag</label>
                                <select id="recipeTagInput" class="form-control">
                                    <option selected>Choose...</option>
                                    <option *ngFor="let t of tags">{{ t.tag }}</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-secondary">Add Tag</button>
                            <button type="button" class="btn btn-secondary">Remove Tag</button>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="recipe-nutrition">
    <div class="card">
        <div class="card-header" id="headingNutrition">
            <h5 class="mb-0">
                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseNutrition" aria-expanded="true" aria-controls="collapseNutrition" style="white-space: normal">
                    Nutritional Info (per portion):
                </button>
            </h5>
        </div>

        <div id="collapseNutrition" class="collapse show" aria-labelledby="collapseNutrition" data-parent="#recipe-nutrition">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCalorieInput">Calories (kcal)</label>
                                <input type="number" class="form-control" id="recipeCalorieInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeProteinInput">Protein (g)</label>
                                <input type="number" class="form-control" id="recipeProteinInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCarbohydrateInput">Carbohydrates (g)</label>
                                <input type="number" class="form-control" id="recipeCarbohydrateInput" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeFatInput">Fat (g)</label>
                                <input type="number" class="form-control" id="recipeFatInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSaturatedFatInput">Saturated Fat (g)</label>
                                <input type="number" class="form-control" id="recipeSaturatedFatInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeFibreInput">Fibre (g)</label>
                                <input type="number" class="form-control" id="recipeFibreInput" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSugarInput">Sugar (g)</label>
                                <input type="number" class="form-control" id="recipeSugarInput" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSaltInput">Salt (g)</label>
                                <input type="number" class="form-control" id="recipeSaltInput" />
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="recipe-ingredients">
    <div class="card">
        <div class="card-header" id="headingIngredients">
            <h5 class="mb-0">
                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseIngredients" aria-expanded="true" aria-controls="collapseIngredients" style="white-space: normal">
                    Ingredients:
                </button>
            </h5>
        </div>

        <div id="collapseIngredients" class="collapse show" aria-labelledby="collapseIngredients" data-parent="#recipe-ingredients">
            <div class="card-body">
                <form id="ingredientInfo">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="recipeIngredientQuantityInput">Quantity</label>
                            <input type="number" class="form-control" id="recipeIngredientQuantityInput" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="recipeIngredientMeasurementInput">Measurement</label>
                            <select id="recipeIngredientMeasurementInput" class="form-control">
                                <option selected>Choose...</option>
                                <option *ngFor="let m of ingredientMeasurements">{{ m.ingredientMeasurement }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipeIngredientInput">Ingredient</label>
                            <select id="recipeIngredientInput" class="form-control">
                                <option selected>Choose...</option>
                                <option *ngFor="let i of ingredients">{{ i.ingredientName }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="recipeIngredientPreparationInput">Preparation</label>
                            <select id="recipeIngredientPreparationInput" class="form-control">
                                <option selected>Choose...</option>
                                <option *ngFor="let p of ingredientPreparations">{{ p.ingredientPreparation }}</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary">Add Ingredient</button>
                    <button type="button" class="btn btn-secondary">Remove Ingredient</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="recipe-method">
    <div class="card">
        <div class="card-header" id="headingMethod">
            <h5 class="mb-0">
                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseMethod" aria-expanded="true" aria-controls="collapseMethod" style="white-space: normal">
                    Method:
                </button>
            </h5>
        </div>

        <div id="collapseMethod" class="collapse show" aria-labelledby="collapseMethod" data-parent="#recipe-method">
            <div class="card-body">
                <form id="methodInfo">
                    <div class="form-group">
                        <label for="recipeMethodInput">Method</label>
                        <textarea class="form-control" id="recipeMethodInput" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary">Add Method</button>
                    <button type="button" class="btn btn-secondary">Remove Method</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="recipe-notes">
    <div class="card">
        <div class="card-header" id="headingNotes">
            <h5 class="mb-0">
                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="true" aria-controls="collapseNotes" style="white-space: normal">
                    Notes:
                </button>
            </h5>
        </div>

        <div id="collapseNotes" class="collapse show" aria-labelledby="collapseNotes" data-parent="#recipe-notes">
            <div class="card-body">
                <form id="noteInfo">
                    <div class="form-group">
                        <label for="recipeNoteInput">Note</label>
                        <textarea class="form-control" id="recipeNoteInput" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary">Add Note</button>
                    <button type="button" class="btn btn-secondary">Remove Note</button>
                </form>
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary">Create Recipe</button>