@{
    ViewBag.Title = "Recipe Results";
}

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br/>Cook time: 40 mins
            <br/>Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
</div>

<br />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
</div>

<br/>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/download.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <br />Portions: 4
            <br />Prep time: 30 mins
            <br />Cook time: 40 mins
            <br />Skill: Easy</p>
            <p class="card-text"><small class="text-muted">Calories: 500kcal</small></p>
        </div>
    </div>
</div>