@{
    ViewBag.Title = "Recipe";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="recipe-title">
            <h2>Recipe Name</h2>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="recipe-image">
            <img src="~/img/download.jpg" />
        </div>
    </div>

        <div class="col-md-4 col-sm-12">
            <div id="recipe-info">
                <div class="card">
                    <div class="card-header" id="headingInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo" style="white-space: normal">
                                General Info:
                            </button>
                        </h5>
                    </div>

                    <div id="collapseInfo" class="collapse show" aria-labelledby="collapseInfo" data-parent="#recipe-info">
                        <div class="card-body">
                            <ul>
                                <li>Portions: 4</li>
                                <li>Prep time: 30 mins</li>
                                <li>Cook time: 40 mins</li>
                                <li>Skill: Easy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div id="recipe-nutrition">
                <div class="card">
                    <div class="card-header" id="headingNutrition">
                        <h5 class="mb-0">
                            <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseNutrition" aria-expanded="true" aria-controls="collapseNutrition" style="white-space: normal">
                                Nutritional Info (per portion):
                            </button>
                        </h5>
                    </div>

                    <div id="collapseNutrition" class="collapse show" aria-labelledby="collapseNutrition" data-parent="#recipe-nutrition">
                        <div class="card-body">
                            <ul>
                                <li>Calories: 500kcal</li>
                                <li>Protein: 50g</li>
                                <li>Carbohydrates: 60g</li>
                                <li>Fat: 10g</li>
                                <li>Saturated Fat: 4g</li>
                                <li>Fibre: 10g</li>
                                <li>Sugar: 5g</li>
                                <li>Salt: 1.2g</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-4 col-sm-12">
        <div id="recipe-ingredients">
            <div class="card">
                <div class="card-header" id="headingIngredients">
                    <h5 class="mb-0">
                        <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseIngredients" aria-expanded="true" aria-controls="collapseIngredients" style="white-space: normal">
                            Ingredients:
                        </button>
                    </h5>
                </div>

                <div id="collapseIngredients" class="collapse show" aria-labelledby="collapseIngredients" data-parent="#recipe-ingredients">
                    <div class="card-body">
                        <ul>
                            <li>Ingredient 1</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                            <li>Ingredient 4</li>
                            <li>Ingredient 5</li>
                            <li>Ingredient 6</li>
                            <li>Ingredient 7</li>
                            <li>Ingredient 8</li>
                            <li>Ingredient 9</li>
                            <li>Ingredient 10</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">
        <div id="recipe-method">
            <div class="card">
                <div class="card-header" id="headingMethod">
                    <h5 class="mb-0">
                        <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseMethod" aria-expanded="true" aria-controls="collapseMethod" style="white-space: normal">
                            Method:
                        </button>
                    </h5>
                </div>

                <div id="collapseMethod" class="collapse show" aria-labelledby="collapseMethod" data-parent="#recipe-method">
                    <div class="card-body">
                        <ul>
                            <li>1. Things to do here to prepare and cook the reipe.</li>
                            <li>2. Things to do here to prepare and cook the reipe.</li>
                            <li>3. Things to do here to prepare and cook the reipe.</li>
                            <li>4. Things to do here to prepare and cook the reipe.</li>
                            <li>5. Things to do here to prepare and cook the reipe.</li>
                            <li>6. Things to do here to prepare and cook the reipe.</li>
                            <li>7. Things to do here to prepare and cook the reipe.</li>
                            <li>8. Things to do here to prepare and cook the reipe.</li>
                            <li>9. Things to do here to prepare and cook the reipe.</li>
                            <li>10. Things to do here to prepare and cook the reipe.</li>
                            <li>11. Things to do here to prepare and cook the reipe.</li>
                            <li>12. Things to do here to prepare and cook the reipe.</li>
                            <li>13. Things to do here to prepare and cook the reipe.</li>
                            <li>14. Things to do here to prepare and cook the reipe.</li>
                            <li>15. Things to do here to prepare and cook the reipe.</li>
                            <li>16. Things to do here to prepare and cook the reipe.</li>
                            <li>17. Things to do here to prepare and cook the reipe.</li>
                            <li>18. Things to do here to prepare and cook the reipe.</li>
                            <li>19. Things to do here to prepare and cook the reipe.</li>
                            <li>20. Things to do here to prepare and cook the reipe.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="recipe-notes">
            <div class="card">
                <div class="card-header" id="headingNotes">
                    <h5 class="mb-0">
                        <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="true" aria-controls="collapseNotes" style="white-space: normal">
                            Notes:
                        </button>
                    </h5>
                </div>

                <div id="collapseNotes" class="collapse show" aria-labelledby="collapseNotes" data-parent="#recipe-notes">
                    <div class="card-body">
                        <ul>
                            <li>1. Notes</li>
                            <li>2. Notes</li>
                            <li>3. Notes</li>
                            <li>4. Notes</li>
                            <li>5. Notes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>