<h1>Basic Recipe Creation</h1>

<div *ngIf="errorMessage" class="alert alert-warning"> {{ errorMessage }}</div>
<div id="recipe-info">
    <div class="card">
        <div class="card-header" id="headingInfo">
            <h5 class="mb-0">
                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo" style="white-space: normal">
                    General Info:
                </button>
            </h5>
        </div>

        <div id="collapseInfo" class="collapse show" aria-labelledby="collapseInfo" data-parent="#recipe-info">
            <div class="card-body">
                <form id="basicInfo">
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label for="recipeImageInput">Recipe Image</label>
                                <input type="file" class="form-control-file" name="recipeImageInput" [(ngModel)]="recipeImageInput" #image="ngModel" />
                            </div>
                        </div>
                        <div class="col col-md-8">
                            <div class="form-group">
                                <label for="recipeTitleInput">Recipe Title</label>
                                <input type="text" class="form-control" name="recipeTitleInput" required minlength="4" [(ngModel)]="recipeTitleInput" #title="ngModel" />
                            </div>
                            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                                <div *ngIf="title.errors.required">
                                    Title is required.
                                </div>
                                <div *ngIf="title.errors.minlength">
                                    Title must be at least 4 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form id="generalInfo">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipePortionInput">Number of portions</label>
                                <input type="number" min="1" class="form-control" name="recipePortionInput" required [(ngModel)]="recipePortionInput" #portion="ngModel" />
                            </div>
                            <div *ngIf="portion.invalid && (portion.dirty || portion.touched)" class="alert alert-danger">
                                Portion is required.
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSkillInput">Skill</label>
                                <select name="recipeSkillInput" class="form-control" [(ngModel)]="recipeSkillInput" #skill="ngModel" placeholder="Choose...">
                                    <option *ngFor="let s of skills">{{ s.skill }}</option>
                                </select>
                            </div>
                            <div *ngIf="!skill.dirty" class="alert alert-danger">
                                A skill level needs to be chosen.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipePrepTimeInput">Prep time</label>
                                <input type="text" class="form-control" name="recipePrepTimeInput" minlength="3" [(ngModel)]="recipePrepTimeInput" #preptime="ngModel" />
                            </div>
                            <div *ngIf="preptime.invalid && (preptime.dirty || preptime.touched)" class="alert alert-danger">
                                <div *ngIf="preptime.errors.minlength">
                                    Prep time must be at least 3 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCategoryInput">Category</label>
                                <select name="recipeCategoryInput" class="form-control" [(ngModel)]="recipeCategoryInput" #category="ngModel" placeholder="Choose...">
                                    <option *ngFor="let ca of categories">{{ ca.categoryName }}</option>
                                </select>
                            </div>
                            <div *ngIf="!category.dirty" class="alert alert-danger">
                                A category needs to be chosen.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCookTimeInput">Cook time</label>
                                <input type="text" class="form-control" name="recipeCookTimeInput" minlength="3" [(ngModel)]="recipeCookTimeInput" #cooktime="ngModel" />
                            </div>
                            <div *ngIf="cooktime.invalid && (cooktime.dirty || cooktime.touched)" class="alert alert-danger">
                                <div *ngIf="cooktime.errors.minlength">
                                    Cook time must be at least 3 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCourseInput">Course</label>
                                <select name="recipeCourseInput" class="form-control" [(ngModel)]="recipeCourseInput" #course="ngModel" placeholder="Choose...">
                                    <option *ngFor="let co of courses">{{ co.courseName }}</option>
                                </select>
                            </div>
                            <div *ngIf="!course.dirty" class="alert alert-danger">
                                A course needs to be chosen.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeRatingInput">Rating</label>
                                <input type="number" min="0" max="5" class="form-control" name="recipeRatingInput" [(ngModel)]="recipeRatingInput" #rating="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeLocationInput">Location</label>
                                <input type="text" class="form-control" name="recipeLocationInput" minlength="3" [(ngModel)]="recipeLocationInput" #location="ngModel" />
                            </div>
                            <div *ngIf="location.invalid && (location.dirty || location.touched)" class="alert alert-danger">
                                <div *ngIf="location.errors.minlength">
                                    Location must be at least 3 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="recipe-nutrition">
    <div class="card">
        <div class="card-header" id="headingNutrition">
            <h5 class="mb-0">
                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseNutrition" aria-expanded="true" aria-controls="collapseNutrition" style="white-space: normal">
                    Nutritional Info (per portion):
                </button>
            </h5>
        </div>

        <div id="collapseNutrition" class="collapse show" aria-labelledby="collapseNutrition" data-parent="#recipe-nutrition">
            <div class="card-body">
                <form id="nutritionalInfo">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCalorieInput">Calories (kcal)</label>
                                <input type="number" min="0" class="form-control" name="recipeCalorieInput" [(ngModel)]="recipeCalorieInput" #calorie="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeProteinInput">Protein (g)</label>
                                <input type="number" min="0" class="form-control" name="recipeProteinInput" [(ngModel)]="recipeProteinInput" #protein="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeCarbohydrateInput">Carbohydrates (g)</label>
                                <input type="number" min="0" class="form-control" name="recipeCarbohydrateInput" [(ngModel)]="recipeCarbohydrateInput" #carb="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeFatInput">Fat (g)</label>
                                <input type="number" min="0" class="form-control" name="recipeFatInput" [(ngModel)]="recipeFatInput" #fat="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSaturatedFatInput">Saturated Fat (g)</label>
                                <input type="number" min="0" class="form-control" name="recipeSaturatedFatInput" [(ngModel)]="recipeSaturatedFatInput" #satfat="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeFibreInput">Fibre (g)</label>
                                <input type="number" min="0" class="form-control" name="recipeFibreInput" [(ngModel)]="recipeFibreInput" #fibre="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSugarInput">Sugar (g)</label>
                                <input type="number" min="0" class="form-control" name="recipeSugarInput" [(ngModel)]="recipeSugarInput" #sugar="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipeSaltInput">Salt (g)</label>
                                <input type="number" min="0" class="form-control" name="recipeSaltInput" [(ngModel)]="recipeSaltInput" #salt="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary" (click)="onCreateBasicRecipe(recipeImageInput, recipeTitleInput, recipePortionInput, recipeSkillInput, recipePrepTimeInput, recipeCategoryInput, recipeCookTimeInput, recipeCourseInput, recipeRatingInput, recipeCalorieInput, recipeProteinInput, recipeCarbohydrateInput, recipeFatInput, recipeSaturatedFatInput, recipeFibreInput, recipeSugarInput, recipeSaltInput, recipeLocationInput); recipeImageInput = Null; recipeTitleInput = Null; recipePortionInput = Null; recipeSkillInput = Null; recipePrepTimeInput = Null; recipeCategoryInput = Null; recipeCookTimeInput = Null; recipeCourseInput = Null; recipeRatingInput = Null; recipeCalorieInput = Null; recipeProteinInput = Null; recipeCarbohydrateInput = Null; recipeFatInput = Null; recipeSaturatedFatInput = Null; recipeFibreInput = Null; recipeSugarInput = Null; recipeSaltInput = Null; recipeLocationInput = Null">Create Basic Recipe</button>